.Container_regProd {
  > .header {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #9a5615;
    border-radius: 10px;
    text-align: center;
    background-color: #d87b23;

    > .text {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }

    > form {
    > div {
      > .btnCreate {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

      > .btnBack {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: end;

    > button {
      width: 100%;
      max-width: fit-content;
      padding: 0.8rem;
      color: #fff;
      border: 2px solid #000;
      border-radius: 10px;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 600;
      background-color: #d87b23;
      cursor: pointer;
    }

    > button:hover {
      color: #d7d7d7;
    }
  }
}
