#root {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin-bottom: 5rem;
}

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#registerBtn {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: black;
}

#registerBtn:hover{
  background-color: #9e6a1c;
  cursor: pointer;
}

.registerLogo {
  background-color: #7A3F06;
  width: fit-content;
  border: 1px solid black;
  border-radius: 20px;
}