* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin-bottom: 5rem;
}

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#registerBtn, #loginBtn {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: black;
}

#registerBtn:hover, #loginBtn:hover{
  background-color: #9e6a1c;
  cursor: pointer;
}
